
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.h2{
  font-weight: 500;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nameform {
    font-family: 'Kanit', sans-serif;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 60px;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.namebutton {
  display: block;
  padding: 10px;
  /* margin: 20px; */
  margin-top: 24px;
  width: 100%;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  background-color:transparent;
  cursor: pointer;
  align-items: center;
}

.namebutton:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  
}

.button {
  display: block;
  padding: 10px;
  /* margin: 20px; */
  width: 100%;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  /* transform: translate(50%,50%); */
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  background-color:transparent;
  cursor: pointer;
  align-items: center;
}

.button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.feelingButton, .yesno {
  display: block;
  padding: 10px;
  /* margin: 20px; */
  margin-top: 20px;
  width: 100%;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  background-color:transparent;
  cursor: pointer;
  align-items: center;
}

.feelingButton:hover,
.yesno:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

/* submitbutton */
.submit-container{
  align-items:center ;
  text-align: center;
  
}


/* Input text box */
.inputbox-container {
  display: block;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

/* .inputbox {
  display: block;
  width: 30rem;
  height: 17rem;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: left;
  float: left;
  background-color:transparent;
  align-items: center;
  outline: none;
  
} */

#message {
  line-break: auto;
  overflow-y: auto;
  overflow-wrap: break-word;
  display: block;
  width: 40vw;
  height: 40vh;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: left;
  float: left;
  background-color:transparent;
  align-items: center;
  outline: none;
  padding: 20px 25px 0 25px;
  resize: none;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;
} 

#messageform {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.textarea-submit-button {
  display: block;
  padding: 10px;
  /* margin: 20px; */
  margin-top: 20px;
  width: 7vw;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  background-color:transparent;
  cursor: pointer;
  align-items: center;
}

@media (max-width: 768px) {
  .textarea-submit-button {
    width: 22vw;
  }
  #message {
    width: 65vw;
    height: 30vh;
  }
  
}
.yesno {
  width: 30%;
  transform: translate(100%,50%);
}


